<form [formGroup]="formulario">
  <div class="p-fluid">
    <div class="p-grid">
      <div class="p-col-12">
        <label>Adversário</label><br>
        <input id="lastname2" formControlName="nick2" type="text" pInputText>
      </div>
      <div class="p-col-12">
        <label>Desafiante</label><br>
        <input id="lastname2" formControlName="nick2" type="text" pInputText>
      </div>
      <div class="p-col-12">
        <label>Desafiante</label><br>
        <input id="lastname2" formControlName="nick2" type="text" pInputText>
      </div>
    </div>


  </div>
</form>
