<div class="tabuleiro">
  <p-table [style]="{height: '500px'}" [value]="linhas" styleClass="p-datatable-gridlines" responsiveLayout="scroll">

    <ng-template pTemplate="body" let-linha>
      <tr>
        <td *ngFor="let coluna of colunas"
          [ngClass]="{celulaBranca: !tabuleiro.casas[linha][coluna].ePreto, celulaPreta: tabuleiro.casas[linha][coluna].ePreto}">

          <app-peca-tabuleiro [tabuleiro]="tabuleiro" [linha]="linha" [coluna]="coluna"
            (moverItemEvento)="moverPeca($event)" (selecionarItemEvento)="selecionarCasa($event)">
          </app-peca-tabuleiro>
        </td>
      </tr>


    </ng-template>

  </p-table>
</div>
