// :host ::ng-deep .p-panel .p-panel-header .p-panel-title {
//   font-weight: 600;
//   text-align: center;
// }

.tabuleiro {
  zoom: 60%;
  margin-left: 5%;
  width: auto;
}

.celulaPreta {
  background-color: black;
  color: white;
}
.celulaBranca{
  background-color: white;
  color: black;
}
.celulaBranca:hover{
  background-color: green;
}
.celulaPreta:hover{
  background-color: gray;
}
td{
  height: 80px !important;
  width: 80px !important;
}


