
<table style="width: 100%;zoom: 75%">

  <tr>
    <td style="width: 10%;text-align: center;">

    </td>
    <td style="width: auto;">
      <p-panel>
        <ng-template pTemplate="header">
          <table style="width: 100%;">
            <tr>
              <td *ngIf="jogador.valor == adversario.valor else naoEaVezAdversario">

               <strong>Adversário: {{ adversario.nick }}</strong>
              </td>
              <ng-template #naoEaVezAdversario>
                <td>Adversário: {{ adversario.nick }}</td>
              </ng-template>
              <td>Pontos: {{ adversario.pontos }}</td>
              <td style="width: 33%;"></td>
              <td>Jogadas: {{ adversario.jogadas }}</td>
            </tr>
          </table>

        </ng-template>
        <app-tabuleiro [jogador]="jogador" [desafiante]="desafiante" [adversario]="adversario"></app-tabuleiro>
        <ng-template pTemplate="footer">
          <table style="width: 100%;">
            <tr>
              <td *ngIf="jogador.valor == desafiante.valor else naoEaVezDesafiante">
              <strong>Desafiante: {{ desafiante.nick }}</strong>
              </td>
              <ng-template #naoEaVezDesafiante>
                <td>Desafiante: {{ desafiante.nick }}</td>
              </ng-template>
              <td>Pontos: {{ desafiante.pontos }}</td>
              <td style="width: 33%;"></td>
              <td>Jogadas: {{ desafiante.jogadas }}</td>
            </tr>
          </table>
        </ng-template>
      </p-panel>

    </td>
    <td style="width: 15%;text-align: center;">

    </td>
  </tr>

</table>
