
<p-megaMenu [model]="items"></p-megaMenu>


<table style="width: 100%;zoom: 75%">

  <tr>
    <td style="width: 10%;text-align: center;">

    </td>
    <td style="width: auto;">
      <p-panel>
        <ng-template pTemplate="header">
          <table style="width: 100%;">
            <tr>
              <td *ngIf="jogador.valor == adversario.valor else naoEaVezAdversario">

               <strong>Adversário: {{ adversarioJogador.nick }}</strong>
              </td>
              <ng-template #naoEaVezAdversario>
                <td>Adversário: {{ adversarioJogador.nick }}</td>
              </ng-template>
              <td>Pontos: {{ adversarioJogador.pontos }}</td>
              <td style="width: 33%;"></td>
              <td>Jogadas: {{ adversarioJogador.jogadas }}</td>
            </tr>
          </table>

        </ng-template>
        <div [ngClass]="{rotated: flagRotacionarFrente,rotated360:flagRotacionarTras}">
          <app-tabuleiro [jogador]="jogador" [desafiante]="desafiante" [adversario]="adversario"></app-tabuleiro>
        </div>

        <ng-template pTemplate="footer">
          <table class="table" style="width: 100%;">
            <tr>
              <td *ngIf="jogador.valor == desafiante.valor else naoEaVezDesafiante">
              <strong>Desafiante: {{ desafianteJogador.nick }}</strong>
              </td>
              <ng-template #naoEaVezDesafiante>
                <td>Desafiante: {{ desafianteJogador.nick }}</td>
              </ng-template>
              <td>Pontos: {{ desafianteJogador.pontos }}</td>
              <td style="width: 33%;"></td>
              <td>Jogadas: {{ desafianteJogador.jogadas }}</td>
            </tr>
          </table>
        </ng-template>
      </p-panel>

    </td>
    <td style="width: 15%;text-align: center;">

    </td>
  </tr>

</table>
<!--
<button pButton (click)="rotacionar()" pRipple type="button" label="Primary" class="p-button-rounded"></button> -->
